section {

    margin-top: 60px;

}

.navbar {
    background-color: rgb(178, 50, 178);
    padding: 20px;
}

.nav-btn {
    background-color: rgb(233, 204, 233);
}

.nav-item a {
    color: white !important;
}

.intro-btn {
    background-color: rgb(178, 50, 178);
    color: white;
}

.pricing-section {
    background-color: rgb(236, 217, 236);
}

.starter-card {
    background-color: rgb(104, 48, 164);
}

.starter-card .btn {
    background-color: white;
}

.popular-card {
    box-shadow: 5px 5px 50px grey;
}

.starter-edition {
    background-color: rgb(82, 138, 229);
}

.starter-edition .btn {
    background-color: white;
}

.footer-item li {
    text-decoration: none;
    list-style: none;
}